---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Logo from "../../../public/logoMainPage.svg?raw";
import Footer from "../../components/Footer.astro";
import { Image } from "astro:assets";

const blogEntries = await getCollection("posts");
const blogCategories = [
  ...new Set(blogEntries.map((item: any) => item.data.category)),
];
---

<Layout title="Blog">
  <div class="fixed left-0 top-0 size-full bg-background"></div>
  <div class="fixed -right-24 -top-16 z-0 flex opacity-20 blur">
    <div
      class="size-64 text-foreground-bright opacity-45 md:size-72 lg:size-96"
    >
      <Fragment set:html={Logo} />
    </div>
  </div>
  <div class="fixed -bottom-20 -left-20 z-0 flex opacity-20 blur">
    <div
      class="size-64 text-foreground-bright opacity-45 md:size-72 lg:size-96"
    >
      <Fragment set:html={Logo} />
    </div>
  </div>
  <main id="main" class="relative pb-28 text-foreground">
    <Navbar />
    <div class="flex flex-col items-center">
      <div class="w-full text-xl lg:w-11/12 xl:w-9/12">
        <div class="flex flex-col px-6 pb-8 pt-12 sm:px-8 lg:pt-20">
          <span
            class="pb-8 text-4xl font-black text-foreground-bright sm:text-5xl"
            >Blog</span
          >
          No blog entries yet...
          {
            blogCategories.map((category) => (
              <div class="pb-8">
                <span class="text-3xl font-bold text-foreground-bright sm:text-4xl">
                  {category}
                </span>
                <ul class="flex flex-col space-y-4 pt-4">
                  {blogEntries
                    .filter((x: any) => x.data.category === category)
                    .map((item: any) => (
                      <li>
                        <a href={`/blog/${item.slug}`}>
                          <div class="relative w-full rounded-xl border-y-2 border-b-border-gradient-2/10 border-t-border-gradient-1/10 bg-gradient-to-br from-glass-gradient-1/60 from-0% via-glass-gradient-2/60 via-90% to-glass-gradient-3/60 to-100% py-6 text-foreground sm:py-8">
                            <div class="flex w-full flex-col space-y-2 px-2 sm:w-10/12 sm:px-6">
                              <span class="px-4 text-lg font-bold sm:text-2xl md:text-3xl">
                                {item.data.title}
                              </span>
                              <span class="pl-4 text-sm font-bold text-foreground-muted md:text-xl">
                                By {item.data.author} -{" "}
                                {item.data.pubDate.toLocaleDateString()}
                              </span>
                              <span class="hidden pl-4 text-sm font-normal text-foreground-muted md:inline md:text-xl">
                                {item.data.description}
                              </span>
                            </div>
                            {item.data.image && (
                              <Image
                                src={item.data.image.url}
                                alt={item.data.image.alt}
                                class="absolute right-0 top-0 hidden h-full w-2/12 rounded-r-xl object-cover sm:block"
                                width="1920"
                                height="1200"
                              />
                            )}
                          </div>
                        </a>
                      </li>
                    ))}
                </ul>
              </div>
            ))
          }
        </div>
      </div>
    </div>
    <Footer />
  </main>
</Layout>
